.timeline-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

#timeline {
    position: relative;
    width: 40%;
    transition: transform 0.5s ease;
}

#code-display {
    position: absolute;
    display: block;
    width: 40%;
    padding: 10px;
    background-color: rgba(30, 30, 30, 0.25);
    border-radius: 5px;
    color: white;
    overflow: auto;
    transition: opacity 0.25s ease;
}

#code-display div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#code-display div p {
    margin: 0;
}

#code-display pre {
    margin: 0;
}

#code-display pre code {
    border-radius: 3px;
}

#code-display-close-button {
    display: block;
    padding: 3px 5px;
    background-color: rgba(20, 20, 20, 0.5);
    border: none;
    border-radius: 2px;
    color: white;
    transition: 0.25s
}

#code-display-close-button:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

.hidden {
    display: none;
    opacity: 0;
}

.timeline-box {
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, #33333a, #434349 51%, #505676) var(--x, 0) / 200%;
    margin: auto;
    margin-bottom: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.25s;
    border: 1px solid #ccc;
    cursor: pointer;
}

.timeline-box:hover, .timeline-box:focus {
    --x: 100%;
}

.timeline-box img {
    margin-right: 20px;
    border-radius: 3px;
    width: 20%;
    height: auto;
}

.timeline-box div {
    width: 80%;
    line-height: 25px;
}

#svg-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

#svg-lines line {
    stroke: #ccc;
    stroke-width: 1;
}